@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 16, 14, 29;
    --background-end-rgb: 0, 0, 0;
    --side-background-rgb: 30, 33, 58;
    --text-secondary-rgb: 160, 159, 177;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-secondary {
    color: rgb(var(--text-secondary-rgb));
  }
}

.current-weather-color {
  background-color: rgb(var(--side-background-rgb));
}

.fade-slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.fade-slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
